

extends layout

block content
  .container.mx-auto.p-5
    h1.text-2xl.font-bold.mb-5 Formulaire d'utilisateur
    form(action='/users', method='POST').bg-white.p-5.rounded.shadow
      div
        label(for='nom').block.text-gray-700 Nom :
        input#nom(type='text', name='nom', required).border.p-2.w-full
      div
        label(for='prenom').block.text-gray-700 Prénom :
        input#prenom(type='text', name='prenom', required).border.p-2.w-full
      div
        label(for='age').block.text-gray-700 Âge :
        input#age(type='number', name='age', min='1', required).border.p-2.w-full
      div
        label(for='email').block.text-gray-700 Email :
        input#email(type='email', name='email', required).border.p-2.w-full
      div
        label(for='telephone').block.text-gray-700 Téléphone :
        input#telephone(type='text', name='telephone', required).border.p-2.w-full
      button(type='submit').bg-blue-500.text-white.px-4.py-2.rounded.mt-3 Soumettre
